$color-yellow: #FFE81F;
$color-red: red;
$color-white: white;
$color-footer: #040522;

@import "header";
@import "index";
@import "footer";
@import "series";
@import "peliculas";
@import "cronologia";
@import "personajes";

